@media screen and (max-width: 767px) {

    .header {
        max-width: 300px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .content {
        max-width: 100px;
        width: 100%;
        margin-left: 50px;
        margin-right: auto;
    }

    .center {
        max-width: 125px;
        width: 125%;
        margin-left: 150px;
        margin-right: auto;
    }

    .center2 {
        max-width: 125px;
        width: 125px;
        margin-left: 150px;
        margin-right: auto;
    }

    .side1 {
        max-width: 200px;
        width: 200px;
        margin-left: 275;
        margin-right: auto;
    }

    .side2 {
        max-width: 75px;
        width: 100%;
        margin-left: 275px;
        margin-right: auto;
    }

    .footer {
        max-width: 300px;
        width: 100%;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 479px) {

    .header {
        max-width: 150px;
        width: 100%;
    }

    .content {
        max-width: 150px;
        width: 100%;
        height: 100px;
        margin-left: 125px;
        margin-right: auto;
        margin-top: auto;
    }

    .center {
        max-width: 150px;
        width: 100%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        margin-bottom: auto;
    }

    .center2 {
        max-width: 150px;
        width: 100%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 400x;
    }

    .side1 {
        max-width: 150px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
    }

    .side2 {
        max-width: 150px;
        width: 100%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -350px;
    }

    .footer {
        max-width: 150px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 250px;
    }
}
